[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name master-1 \
  --initial-advertise-peer-urls http://192.168.50.11:2380 \
  --listen-peer-urls http://192.168.50.11:2380 \
  --listen-client-urls http://192.168.50.11:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://192.168.50.11:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster master-1=http://192.168.50.11:2380,master-2=http://192.168.50.12:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
